@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
}
@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: Abril;
    src: url(../fonts/abril-fatface.regular.ttf);
}
@font-face {
    font-family: NickBocker;
    src: url(../fonts/NickerbockerNF.ttf);
}
@font-face {
    font-family: Anna;
    src: url(../fonts/anna.regular.ttf);
}
@font-face {
    font-family: Quattrocento;
    src: url(../fonts/quattrocento.regular.ttf);
}
@font-face {
    font-family: Fjord;
    src: url(../fonts/fjord.one.ttf);
}
@font-face {
    font-family: Glober;
    src: url('../fonts/Glober SemiBold Free.otf');
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Thin 100.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Extra-Light 200.ttf');
    font-weight: 200;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Light 300.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Normal 400.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Medium 500.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Semi-Bold 600.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Bold 700.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Extra-Bold 800.ttf');
    font-weight: 800;
}
@font-face {
    font-family: Mosk;
    src: url('../fonts/Mosk Ultra-Bold 900.ttf');
    font-weight: 900;
}
@font-face {
    font-family: Goldoni;
    src: url(../fonts/goldoni.regular.otf);
}
@font-face {
    font-family: AnticDidone;
    src: url('../fonts/AnticDidone-Regular.ttf');
}
@font-face {
    font-family: CoromantGaramond;
    src: url('../fonts/CormorantGaramond-Regular.ttf');
}
@font-face {
    font-family: Butler;
    src: url('../fonts/Butler_Regular.ttf');
}


body{
    padding: 0;
    margin: 0;
    /*background-color: #6B7A8F;*/
    background-color: #16181d;
    /*font-family: Quattrocento;
    font-family: Lora;
    font-family: Abril;
    font-family: NickBocker;
    font-family: Anna;*/
    font-family: Fjord;
    /*font-family: Glober;
    font-family: Mosk;*/
    font-family: Goldoni;
    font-family: AnticDidone;
    font-family: CoromantGaramond;
    /*font-family: Butler;*/
    /*background-image: url('../images/background.png'); */
}
#navbarNav {
    font-family: Fjord;
}
.carousel-img {
    height: 60%;
    width: 100%;
}
.section-header {
    text-align: center;
    color: #D4AF37;
    margin: 30px 0px;
    padding-top: 20px;
    border-top: 1px solid #D3BB79;
    font-family: Goldoni;
    font-weight: 300;
}
.section-header > .decorative {
    margin-top: -37px;
    padding: 0px;
}
.section-header > .decorative > img {
    width: 150px;
    background-color: #16181d;
    padding: 3px;
}
.section-header-small {
    position: relative;
    text-align: center;
    color: #D4AF37;
    font-family: Goldoni;
}
.section-header-small > img {
    display: block;
    margin: auto;
    width: 100px;
}
.navbar-brand > img {
    width: 138px;
}
.carousel-div {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #D4AF37;
}
.section {
    padding: 30px;
}
.text-center {
    text-align: center;
}


.text-reflect {
    position: relative;
}
.text-reflect:before, .text-reflect:after {
    display: block;
    position: absolute;
    bottom: -.8em; /* You should change this value to fit your font */
    left: 0;
    right: 0;
}
.text-reflect:before {
    content: attr(data-text);
    opacity: .3;

    /* This is how the text is flipped vertically */
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scateY(-1);
}
.text-reflect:after {
    /* Fading using CSS gradient */
    /* Don't forget to change the colors to your background color */
    background: -webkit-gradient(linear, left top, left center, from(rgba(22, 24, 29,0)), to(rgb(22, 24, 29)));
    background: -moz-linear-gradient(top, rgba(22, 24, 29,0), rgb(22, 24, 29));
    background: linear-gradient(top, rgba(22, 24, 29,0), rgb(22, 24, 29));

    /* I left out the `filter` property, because IE doesn't know `:before` and `:after` pseudo-elements anyway */
    content: ' ';
    height: 1em;
}


.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: #fff;
  background: url('../images/06-NIGHT SHOT (1).jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 50px;
}
.content-space-two {
  /*padding: 0px;*/
  margin-bottom: 0px;
  color: #fff;
  background: url(../images/img1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*padding: 100px 50px;*/
  padding: 15px;
  position: relative;
  border: 2px solid #D4AF37;
  /*border-radius: 15px;*/
}
.content-space-three {
  /*padding: 0px;*/
  margin-bottom: 0px;
  color: #fff;
  background: url(../images/img101.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*padding: 100px 50px;*/
  padding: 15px;
  position: relative;
  border: 2px solid #D4AF37;
  /*border-radius: 15px;*/
}
.text-block-section {
    padding: 0px;
}
.text-block {
    background-color: #fff;
    color: #000;
    padding: 80px;
}
.small-header::after {
    border: 2px solid #F7C331;
}
#intro {
    display: none;
}
#intro.content-space-one {
    background: url(../images/img51.jpg) no-repeat center center fixed; 
}
#intro-wide {
    display: inline-flex;
}
@media(max-width: 991px) {
    #intro {
        display: inline-flex;
    }
    #intro-wide {
        display: none;
    }
}
.blurify {
    filter: blur(5px);
    background: inherit;
    width: 96%;
    height: 93%;
    position: absolute;
    top: 3%;
    left: 2%;
}
.space-content {
    background: rgba(22, 24, 29,0.7);
    /*border-radius: 15px;*/
    padding: 50px;
}


/* Projects */
.items-wrap {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.item-block {
	position: relative;
	-webkit-flex: 1 0 24%;
	flex: 1 0 24%;
	overflow: hidden;
	height: 22vw;
	outline: none;
	border-width: 0 5px 10px;
	/*background: #16181d;*/
    background: #000;
    margin: 2px;
    border: 1px solid #D4AF37;
}
.item__image {
	position: absolute;
	top: 50%;
	min-height: 100%;
	width: 100%;
	opacity: 0.5;
	-webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.item-block:hover .item__image {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}
.item__title {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 1em;
	color: #dbdbdb;
	font-size: 1.85em;
	/*font-family: "Playfair Display", Georgia, serif;*/
    font-family: Goldoni;
	line-height: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
    /*color: #D4AF37;*/
    font-weight: 300;
}
.item-block:hover .item__title {
	opacity: 0;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}
/* Media Queries */
@media screen and (max-width: 1440px) {
	.item-block {
		-webkit-flex: 1 0 33.333%;
		flex: 1 0 33.333%;
		height: 30vw;
	}
}
@media screen and (max-width: 1000px) {
	.item-block {
		-webkit-flex: 1 0 50%;
		flex: 1 0 50%;
		height: 45vw;
		font-size: 0.85em;
	}
}
@media screen and (max-width: 590px) {
	.item-block {
		-webkit-flex: 1 0 100%;
		flex: 1 0 100%;
		height: 90vw;
	}
}



/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
  padding: 30px;
  /*background-color: rgba(255,215,0,0.4);*/
}
.hvr-shutter-out-vertical > h3 {
    text-align: center;
}
.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(22, 24, 29,0.2);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
  color: white;
}
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*Radial Out*/
.hvr-radial-out {
  overflow: hidden;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 24, 29,0.2);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
h2, h1 {
    font-weight: 700;
}
.thin {
    font-weight: 300;
}


/*Loading screen*/
.body-onload {
    display: table;
    height: 100vh;
    width: 100%;
}
.load-hide {
    display: none;
}
.load-show {
    display: block;
}
.loader {
    display: table-cell;
    vertical-align: middle;
}
.loader > img {
    width: 200px;
}
.progress-view {
    color: #89382F;
    text-align: center;
}
/*Spinner*/
.sk-three-bounce {
  margin: 10px auto;
  width: 80px;
  text-align: center; }
  .sk-three-bounce .sk-child {
    width: 15px;
    height: 15px;
    background-color: #D4AF37;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
            animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
  .sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s; }
  .sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s; }

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*Dropdown Menu*/
/*.nav-item {
    position: relative;
}
.submenu, .submenu2 {
    list-style: none;
    padding: 0;
    text-align: center;
}
.submenu {
    position: absolute;
    left: 0;
    background-color: #16181d;
    border-top: 3px solid #D4AF37;
    z-index: 2;
    width: 500px;
}
.submenu > li {
    display: inline-block;
    padding: 10px;
}
.list-header {
    color: #D4AF37;
    font-family: Goldoni;
    border-bottom: 1px solid #D3BB79;
}
.submenu2 > li > a {
    text-decoration: none;
    color: #ccc;
}
.submenu2 > li > a:hover {
    color: #D4AF37;
}
.card-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}*/

.submenu {
    background-color: #16181d;
    border-top: 3px solid #D4AF37;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.list-header {
    color: #D4AF37;
    font-family: Goldoni;
    border-bottom: 1px solid #D3BB79;
    padding: 5px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #ccc;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #D4AF37;
}
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.navbar-toggler {
    border: none;
    top: 34px;
}
.navbar-toggler:focus {
    outline: none;
}

/*#navigation {
    position: fixed;
    top: 200px;
    right: 20px;
}*/

.page-menu {
    text-align: center;
    background-color: #2c303a;
    padding: 10px;
}
.page-menu > ul {
    list-style: none;
    margin: 0;
}
.page-menu > ul > li {
    display: inline-block;
    padding: 0px 5px;
}
.page-menu > ul > li > a {
    text-decoration: none;
    color: #FFF;
}
.page-menu-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 16;
}
.container-fluid-sticky {
    margin-top: 44px;
}
@media(max-width: 991px){
    .page-menu {
        display: none;
    }
}


/* Footer */
footer {
    /*background-color: #6B7A8F;*/
    padding: 0px 25px;
    color: #D4AF37;
    border-top: 1px solid #D4AF37;
}
footer p {
    margin: 0;
    padding: 0;
}
.footer-footer {
    text-align: center;
}

.footer-body ul {
    list-style: none;
    padding: 0px;
}
.footer-body ul > li {
    display: inline-block;
}
.footer-body ul > li > a {
    text-decoration: none;
    color: #F7C331;
    display: inline-block;
}
.footer-body > .quick-links > ul > li {
    /*display: inline-block;*/
    border-right: 1px solid #e6e6e6;
    padding: 0px 7px;
}
.footer-body > .quick-links > ul > li:last-child {
    border-right: 0px solid transparent;
    padding-right: 0px;
}
.footer-body > .quick-links > ul > li:first-child {
    padding-left: 0px;
}
.footer-section {
    padding: 15px;
}

.myfooter {
    text-align: right;
    padding: 20px;
    color: #D4AF37;
}
.social > ul {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
}
.social > ul > li {
    display: inline-block;
}
.social-icons {
    width: 40px;
}

/*Side Navigation*/
.side-nav {
    position: fixed;
    right: 0;
    height: 100%;
    display: table;
    z-index: 3;
}
.side-nav > ul {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}
.side-nav > ul > li > a {
    text-decoration: none;
    color: #89382F;
    font-size: 20px;
}
.menu-active {
    color: #D4AF37 !important;
}
@media(max-width: 991px) {
    .side-nav {
        display: none;
    }
}

.container-fluid-background {
     background: url(../images/img100.jpg) no-repeat center center fixed;
     background-size: cover;
     position: relative;
}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
}
.element-center {
    margin: 0 auto;
}

.content-block {
  margin-bottom: 0px;
  color: #fff;
  padding: 15px;
  position: relative;
  border: 2px solid #D4AF37;
}
.content-section {
    padding: 50px !important;
    border-top: 1px solid #D4AF37;
    position: relative;
}

.project-banner {
    display: table;
    height: 100%;
}
.project-banner-content {
    display: table-cell;
    vertical-align: middle;
}
.project-banner-img {
     border-top-left-radius: 10%400px;
     border-bottom-left-radius: 10%300px;
}
@media(max-width: 767px) {
    .project-banner-img {
        border-radius: 0px;
    }
}
.project-amenities {
    height: 260px;
}

.project-menu-active {
    background-color: #000;
}
.project-menu-active > a {
    color: #D4AF37 !important;
}

.card {
    border-radius: 0px;
    border: 1px solid #D4AF37;
}
.card-img {
    border-radius: 0px;
}
.card-columns {
    column-count: 3;
}
@media(max-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}
@media(max-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

.contact-detail {
    text-align: center;
}
.contact-detail > h3 > .fa {
    color: #F7882F;
}

input, textarea, select, .submit-btn{
    font-family: CoromantGaramond;
    font-size: 14px;
}
.form-control {
    border-radius: 0px;
}